*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background: url(https://cdn.wallpapersafari.com/86/39/8RAp7S.jpg);
  }
  form{
    box-shadow: 2px 6px 100px #ffffff;
  }